# üóÑÔ∏è Module 1: Core Python & Data - Week 3 Lecture 14
**Date:** 04/09/2025  
**Documented by:** Muhammad Soban Shaukat  

## üíæ Beyond Files: Introduction to SQL & Relational Databases

Welcome back! We've learned to save our data in files like `.txt` and `.json`. This is great for simple applications, but what happens when our data becomes large and interconnected?

What if we're building a social media app, an e-commerce store, or a blog? Today, we learn the industry-standard solution for managing structured data: **Relational Databases** and the language we use to talk to them, **SQL**.

## üìã Today's Agenda

1.  **ü§î The "Why" - What is a Database?**
    *   The Problem with Flat Files
    *   The Three Evils of Flat Data
    *   The Relational Solution

2.  **üèóÔ∏è Core Concepts of Relational Databases**
    *   Tables, Rows, Columns, and Keys
    *   Database Design: A Simple Blog Schema

3.  **üìä Exploring the SQL Language**
    *   `SELECT` & `FROM` Statements
    *   `WHERE` Clause for Filtering
    *   `ORDER BY` Clause for Sorting

4.  **üß™ Putting It All Together & Hands-On Lab**
    *   Hands-On Lab: Querying a Sample Database
    *   Bonus Challenges

## 1. ü§î The "Why" - What is a Database?

### üìä The Problem with Flat Files

Imagine we're running a small online store and we track our orders in a single spreadsheet (or a big JSON file). This approach is called using "flat files."

In [1]:
# Let's simulate the flat file problem with Python data structures
print("üõí Flat File Approach: Online Store Orders")
print("=" * 45)

# This represents data stored in a CSV/JSON file
orders_flat = [
    {"OrderID": 101, "OrderDate": "2025-09-05", "CustomerName": "Alice Smith",
     "CustomerEmail": "alice@example.com", "Item": "T-Shirt", "Price": 20.00},
    {"OrderID": 102, "OrderDate": "2025-09-05", "CustomerName": "Bob Johnson",
     "CustomerEmail": "bob@example.com", "Item": "Coffee Mug", "Price": 15.00},
    {"OrderID": 103, "OrderDate": "2025-09-06", "CustomerName": "Alice Smith",
     "CustomerEmail": "alice@example.com", "Item": "Hat", "Price": 25.00},
    {"OrderID": 104, "OrderDate": "2025-09-06", "CustomerName": "Alice Smith",
     "CustomerEmail": "alice.mnih@work.com", "Item": "T-Shirt", "Price": 20.00}
]

# Display the flat data
print("üìã Orders Flat File:")
print("-" * 60)
print(f"{'OrderID':<8} {'Date':<12} {'Customer':<15} {'Email':<20} {'Item':<12} {'Price':<6}")
print("-" * 60)
for order in orders_flat:
    print(f"{order['OrderID']:<8} {order['OrderDate']:<12} {order['CustomerName']:<15} "
          f"{order['CustomerEmail']:<20} {order['Item']:<12} ${order['Price']:<5.2f}")

üõí Flat File Approach: Online Store Orders
=============================================
üìã Orders Flat File:
------------------------------------------------------------
OrderID  Date         Customer        Email                Item         Price
------------------------------------------------------------
101      2025-09-05   Alice Smith     alice@example.com    T-Shirt      $20.00
102      2025-09-05   Bob Johnson     bob@example.com      Coffee Mug   $15.00
103      2025-09-06   Alice Smith     alice@example.com    Hat          $25.00
104      2025-09-06   Alice Smith     alice.mnih@work.com  T-Shirt      $20.00

### üòà The Three Evils of "Flat" Data

This flat file approach seems simple, but it's hiding three major problems:

In [2]:
# Demonstrate the three problems with flat files
print("\nüòà THREE EVILS OF FLAT DATA")
print("=" * 35)

# 1. Data Duplication
print("\n1. üìù DATA DUPLICATION:")
print("   Alice Smith's information appears 3 times!")
print("   Wastes space and is inefficient.")

# 2. Data Inconsistency (Update Anomaly)
print("\n2. üîÑ DATA INCONSISTENCY (Update Anomaly):")
print("   Order 104 has different email: alice.mnih@work.com")
print("   Is this a typo or an update?")
print("   To fix, we'd need to update ALL Alice's records manually!")

# 3. Data Integrity Issues (Deletion Anomaly)
print("\n3. üóëÔ∏è DATA INTEGRITY (Deletion Anomaly):")
print("   If we delete Bob's order (102), we lose ALL information about Bob!")
print("   We wouldn't even know he was ever a customer!")

üòà THREE EVILS OF FLAT DATA
===================================

1. üìù DATA DUPLICATION:
   Alice Smith's information appears 3 times!
   Wastes space and is inefficient.

2. üîÑ DATA INCONSISTENCY (Update Anomaly):
   Order 104 has different email: alice.mnih@work.com
   Is this a typo or an update?
   To fix, we'd need to update ALL Alice's records manually!

3. üóëÔ∏è DATA INTEGRITY (Deletion Anomaly):
   If we delete Bob's order (102), we lose ALL information about Bob!
   We wouldn't even know he was ever a customer!

### üèóÔ∏è The Relational Solution: Smart Tables

A **relational database** solves this by breaking the data into separate, single-purpose tables that can be linked together.

In [3]:
# Show the relational database solution
print("\nüèóÔ∏è RELATIONAL DATABASE SOLUTION")
print("=" * 40)

# Customers Table
customers = [
    {"CustomerID": 1, "Name": "Alice Smith", "Email": "alice@example.com"},
    {"CustomerID": 2, "Name": "Bob Johnson", "Email": "bob@example.com"}
]

# Orders Table
orders = [
    {"OrderID": 101, "OrderDate": "2025-09-05", "CustomerID": 1, "Item": "T-Shirt", "Price": 20.00},
    {"OrderID": 102, "OrderDate": "2025-09-05", "CustomerID": 2, "Item": "Coffee Mug", "Price": 15.00},
    {"OrderID": 103, "OrderDate": "2025-09-06", "CustomerID": 1, "Item": "Hat", "Price": 25.00},
    {"OrderID": 104, "OrderDate": "2025-09-06", "CustomerID": 1, "Item": "T-Shirt", "Price": 20.00}
]

print("üìä CUSTOMERS TABLE:")
print("-" * 50)
print(f"{'CustomerID':<12} {'Name':<15} {'Email':<20}")
print("-" * 50)
for customer in customers:
    print(f"{customer['CustomerID']:<12} {customer['Name']:<15} {customer['Email']:<20}")

print("\nüìä ORDERS TABLE:")
print("-" * 60)
print(f"{'OrderID':<8} {'Date':<12} {'CustomerID':<12} {'Item':<12} {'Price':<6}")
print("-" * 60)
for order in orders:
    print(f"{order['OrderID']:<8} {order['OrderDate']:<12} {order['CustomerID']:<12} "
          f"{order['Item']:<12} ${order['Price']:<5.2f}")

print("\n‚úÖ BENEFITS:")
print("   - No data duplication (Alice's info stored once)")
print("   - No inconsistency (Single source of truth)")
print("   - No data loss (Delete order ‚â† delete customer)")

üèóÔ∏è RELATIONAL DATABASE SOLUTION
========================================
üìä CUSTOMERS TABLE:
--------------------------------------------------
CustomerID   Name            Email
--------------------------------------------------
1            Alice Smith     alice@example.com
2            Bob Johnson     bob@example.com

üìä ORDERS TABLE:
------------------------------------------------------------
OrderID  Date         CustomerID   Item         Price
------------------------------------------------------------
101      2025-09-05   1            T-Shirt      $20.00
102      2025-09-05   2            Coffee Mug   $15.00
103      2025-09-06   1            Hat          $25.00
104      2025-09-06   1            T-Shirt      $20.00

‚úÖ BENEFITS:
   - No data duplication (Alice's info stored once)
   - No inconsistency (Single source of truth)
   - No data loss (Delete order ‚â† delete customer)

## 2. üèóÔ∏è Core Concepts of Relational Databases

### üìã Tables, Rows, and Columns

Imagine a digital filing cabinet designed for perfect organization. A relational database stores data in a structured way using:

- **Table:** A collection of related data, like a spreadsheet
- **Columns:** The headers that define data categories (e.g., CustomerName, City)
- **Rows:** Individual records in the table

In [4]:
# Visualize table structure
print("üìã DATABASE TABLE STRUCTURE")
print("=" * 40)

# Sample Customers table data
customers_data = [
    {"CustomerID": 1, "CustomerName": "Alfreds Futterkiste", "City": "Berlin"},
    {"CustomerID": 2, "CustomerName": "Ana Trujillo", "City": "M√©xico D.F."},
    {"CustomerID": 3, "CustomerName": "Antonio Moreno", "City": "M√©xico D.F."},
    {"CustomerID": 4, "CustomerName": "Thomas Hardy", "City": "London"}
]

print("CUSTOMERS TABLE:")
print("-" * 50)
print(f"{'CustomerID':<12} {'CustomerName':<25} {'City':<15}")
print("-" * 50)
for customer in customers_data:
    print(f"{customer['CustomerID']:<12} {customer['CustomerName']:<25} {customer['City']:<15}")

print("\nüîë TABLE COMPONENTS:")
print("   - Columns: CustomerID, CustomerName, City")
print("   - Rows: Each customer record")
print("   - Table: Collection of all customer data")

üìã DATABASE TABLE STRUCTURE
========================================
CUSTOMERS TABLE:
--------------------------------------------------
CustomerID   CustomerName              City
--------------------------------------------------
1            Alfreds Futterkiste       Berlin
2            Ana Trujillo              M√©xico D.F.
3            Antonio Moreno            M√©xico D.F.
4            Thomas Hardy              London

üîë TABLE COMPONENTS:
   - Columns: CustomerID, CustomerName, City
   - Rows: Each customer record
   - Table: Collection of all customer data

### üîë Keys: Primary & Foreign Keys

Keys are special columns essential for identifying rows and linking tables together:

- **Primary Key (PK):** A column with a unique value for every row (like a Student ID)
- **Foreign Key (FK):** A column in one table that refers to the Primary Key of another table

In [5]:
# Demonstrate keys with Authors and Books example
print("üîë PRIMARY AND FOREIGN KEYS")
print("=" * 40)

# Authors Table
authors = [
    {"AuthorID": 1, "AuthorName": "J.K. Rowling", "Nationality": "British"},
    {"AuthorID": 2, "AuthorName": "George Orwell", "Nationality": "British"}
]

# Books Table
books = [
    {"BookID": 10, "Title": "Harry Potter", "AuthorID": 1},
    {"BookID": 102, "Title": "1984", "AuthorID": 2},
    {"BookID": 103, "Title": "Animal Farm", "AuthorID": 2}
]

print("üìö AUTHORS TABLE (Primary Key: AuthorID):")
print("-" * 55)
print(f"{'AuthorID':<10} {'AuthorName':<15} {'Nationality':<12}")
print("-" * 55)
for author in authors:
    print(f"{author['AuthorID']:<10} {author['AuthorName']:<15} {author['Nationality']:<12}")

print("\nüìñ BOOKS TABLE (Primary Key: BookID, Foreign Key: AuthorID):")
print("-" * 45)
print(f"{'BookID':<8} {'Title':<15} {'AuthorID':<10}")
print("-" * 45)
for book in books:
    print(f"{book['BookID']:<8} {book['Title']:<15} {book['AuthorID']:<10}")

print("\nüéØ KEYS EXPLAINED:")
print("   - Authors.AuthorID: PRIMARY KEY (Unique author identifier)")
print("   - Books.BookID: PRIMARY KEY (Unique book identifier)")
print("   - Books.AuthorID: FOREIGN KEY (Links to Authors.AuthorID)")

üîë PRIMARY AND FOREIGN KEYS
========================================
üìö AUTHORS TABLE (Primary Key: AuthorID):
-------------------------------------------------------
AuthorID   AuthorName      Nationality
-------------------------------------------------------
1          J.K. Rowling    British
2          George Orwell   British

üìñ BOOKS TABLE (Primary Key: BookID, Foreign Key: AuthorID):
---------------------------------------------
BookID   Title           AuthorID
---------------------------------------------
10       Harry Potter    1
102      1984            2
103      Animal Farm     2

üéØ KEYS EXPLAINED:
   - Authors.AuthorID: PRIMARY KEY (Unique author identifier)
   - Books.BookID: PRIMARY KEY (Unique book identifier)
   - Books.AuthorID: FOREIGN KEY (Links to Authors.AuthorID)

### üß† In-Class Exercise: Identifying Keys

Look at the tables above:
1. What is the Primary Key of the Authors table?
2. What is the Primary Key of the Books table?
3. What is the Foreign Key in this schema, and which table is it in?

In [6]:
# Exercise solution
print("üß† EXERCISE SOLUTION:")
print("=" * 25)
print("1. Primary Key of Authors table: AuthorID")
print("2. Primary Key of Books table: BookID")
print("3. Foreign Key: AuthorID in Books table (links to Authors.AuthorID)")

üß† EXERCISE SOLUTION:
=========================
1. Primary Key of Authors table: AuthorID
2. Primary Key of Books table: BookID
3. Foreign Key: AuthorID in Books table (links to Authors.AuthorID)

### üèóÔ∏è Database Design: A Simple Blog Schema

Let's apply these concepts to design a database for a simple blog. We need to store information about:
- **Users:** People who write posts and comments
- **Posts:** Articles on the blog  
- **Comments:** Replies to the posts

In [7]:
# Blog database schema design
print("üèóÔ∏è BLOG DATABASE SCHEMA DESIGN")
print("=" * 35)

print("üìä USERS TABLE:")
print("   - UserID (Primary Key)")
print("   - Username")
print("   - Email")
print()

print("üìù POSTS TABLE:")
print("   - PostID (Primary Key)")
print("   - Title")
print("   - Content")
print("   - UserID (Foreign Key - links to Users.UserID)")
print()

print("üí¨ COMMENTS TABLE:")
print("   - CommentID (Primary Key)")
print("   - CommentText")
print("   - PostID (Foreign Key - links to Posts.PostID)")
print("   - UserID (Foreign Key - links to Users.UserID)")
print()

print("üîó RELATIONSHIPS:")
print("   - One User can have Many Posts (1:M)")
print("   - One Post can have Many Comments (1:M)")
print("   - One User can have Many Comments (1:M)")

üèóÔ∏è BLOG DATABASE SCHEMA DESIGN
===================================
üìä USERS TABLE:
   - UserID (Primary Key)
   - Username
   - Email

üìù POSTS TABLE:
   - PostID (Primary Key)
   - Title
   - Content
   - UserID (Foreign Key - links to Users.UserID)

üí¨ COMMENTS TABLE:
   - CommentID (Primary Key)
   - CommentText
   - PostID (Foreign Key - links to Posts.PostID)
   - UserID (Foreign Key - links to Users.UserID)

üîó RELATIONSHIPS:
   - One User can have Many Posts (1:M)
   - One Post can have Many Comments (1:M)
   - One User can have Many Comments (1:M)

In [8]:
# Visualize the relationships with sample data
print("üîó VISUALIZING RELATIONSHIPS")
print("=" * 35)

# Sample data
users = [
    {"UserID": 1, "Username": "alice_dev", "Email": "alice@example.com"},
    {"UserID": 2, "Username": "bob_writer", "Email": "bob@example.com"}
]

posts = [
    {"PostID": 101, "Title": "Python Basics", "UserID": 1},
    {"PostID": 102, "Title": "SQL Introduction", "UserID": 2}
]

comments = [
    {"CommentID": 1001, "CommentText": "Great post!", "PostID": 101, "UserID": 2},
    {"CommentID": 1002, "CommentText": "Very helpful", "PostID": 101, "UserID": 1},
    {"CommentID": 1003, "CommentText": "Thanks for sharing", "PostID": 102, "UserID": 1}
]

print("üë• USERS:")
for user in users:
    print(f"   {user['UserID']}: {user['Username']}")

print("\nüìù POSTS (with author):")
for post in posts:
    author = next(user for user in users if user['UserID'] == post['UserID'])
    print(f"   {post['PostID']}: '{post['Title']}' by {author['Username']}")

print("\nüí¨ COMMENTS (on posts by users):")
for comment in comments:
    post = next(p for p in posts if p['PostID'] == comment['PostID'])
    user = next(u for u in users if u['UserID'] == comment['UserID'])
    print(f"   '{comment['CommentText']}' by {user['Username']} on '{post['Title']}'")

üîó VISUALIZING RELATIONSHIPS
===================================
üë• USERS:
   1: alice_dev
   2: bob_writer

üìù POSTS (with author):
   101: 'Python Basics' by alice_dev
   102: 'SQL Introduction' by bob_writer

üí¨ COMMENTS (on posts by users):
   'Great post!' by bob_writer on 'Python Basics'
   'Very helpful' by alice_dev on 'Python Basics'
   'Thanks for sharing' by alice_dev on 'SQL Introduction'

## 3. üìä Exploring the SQL Language

**SQL (Structured Query Language)** is the language we use to communicate with relational databases. Let's learn the basic commands!

In [9]:
# Since we're in Colab, we'll use SQLite in Python to run actual SQL queries
import sqlite3
import pandas as pd

# Create an in-memory SQLite database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create sample tables
cursor.executescript('''
CREATE TABLE Customers (
    CustomerID INTEGER PRIMARY KEY,
    CustomerName TEXT,
    ContactName TEXT,
    City TEXT,
    Country TEXT
);

CREATE TABLE Products (
    ProductID INTEGER PRIMARY KEY,
    ProductName TEXT,
    Price REAL,
    Category TEXT
);

CREATE TABLE Suppliers (
    SupplierID INTEGER PRIMARY KEY,
    SupplierName TEXT,
    Country TEXT
);
''')

# Insert sample data
cursor.executescript('''
INSERT INTO Customers VALUES
(1, 'Alfreds Futterkiste', 'Maria Anders', 'Berlin', 'Germany'),
(2, 'Ana Trujillo', 'Ana Trujillo', 'M√©xico D.F.', 'Mexico'),
(3, 'Antonio Moreno', 'Antonio Moreno', 'M√©xico D.F.', 'Mexico'),
(4, 'Around the Horn', 'Thomas Hardy', 'London', 'UK'),
(5, 'Berglunds snabbk√∂p', 'Christina Berglund', 'Lule√•', 'Sweden');

INSERT INTO Products VALUES
(1, 'Chais', 18.00, 'Beverages'),
(2, 'Chang', 19.00, 'Beverages'),
(3, 'Aniseed Syrup', 10.00, 'Condiments'),
(4, 'Chef Anton''s Cajun Seasoning', 22.00, 'Condiments'),
(5, 'Chef Anton''s Gumbo Mix', 21.35, 'Condiments'),
(6, 'Grandma''s Boysenberry Spread', 25.00, 'Condiments'),
(7, 'Uncle Bob''s Organic Dried Pears', 30.00, 'Produce'),
(8, 'Northwoods Cranberry Sauce', 40.00, 'Condiments');

INSERT INTO Suppliers VALUES
(1, 'Exotic Liquid', 'UK'),
(2, 'New Orleans Cajun Delights', 'USA'),
(3, 'Grandma Kelly''s Homestead', 'USA'),
(4, 'Tokyo Traders', 'Japan'),
(5, 'Cooperativa de Quesos ''Las Cabras''', 'Spain');
''')

conn.commit()

print("‚úÖ Sample database created with:")
print("   - Customers table (5 records)")
print("   - Products table (8 records)")
print("   - Suppliers table (5 records)")

SyntaxError: incomplete input (ipython-input-1855281358.py, line 58)

### üîç Basic SQL: `SELECT` and `FROM`

These are the two mandatory parts of any query to retrieve data:

- `SELECT`: Chooses which columns you want to see
- `FROM`: Specifies which table to look in

In [10]:
# Example 1: SELECT specific columns
print("üîç BASIC SQL: SELECT AND FROM")
print("=" * 35)

print("Query: SELECT CustomerName, City FROM Customers;")
print("Translation: Show me CustomerName and City from Customers table")
print()

# Execute query
query1 = "SELECT CustomerName, City FROM Customers;"
result1 = pd.read_sql_query(query1, conn)
print(result1.to_string(index=False))

üîç BASIC SQL: SELECT AND FROM
===================================
Query: SELECT CustomerName, City FROM Customers;
Translation: Show me CustomerName and City from Customers table

NameError: name 'pd' is not defined

In [11]:
# Example 2: SELECT all columns
print("\nQuery: SELECT * FROM Customers;")
print("Translation: Show me ALL columns from Customers table")
print()

query2 = "SELECT * FROM Customers;"
result2 = pd.read_sql_query(query2, conn)
print(result2.to_string(index=False))

Query: SELECT * FROM Customers;
Translation: Show me ALL columns from Customers table

NameError: name 'pd' is not defined

### üîç Basic SQL: `WHERE` Clause

The `WHERE` clause filters your rows based on a specific condition:

In [12]:
# WHERE clause examples
print("\nüîç BASIC SQL: WHERE CLAUSE")
print("=" * 35)

print("Query: SELECT * FROM Customers WHERE Country = 'Germany';")
print("Translation: Show German customers only")
print()

query3 = "SELECT * FROM Customers WHERE Country = 'Germany';"
result3 = pd.read_sql_query(query3, conn)
print(result3.to_string(index=False))

üîç BASIC SQL: WHERE CLAUSE
===================================
Query: SELECT * FROM Customers WHERE Country = 'Germany';
Translation: Show German customers only

NameError: name 'pd' is not defined

In [13]:
# Multiple conditions with AND/OR
print("\nQuery: SELECT * FROM Customers WHERE Country = 'Mexico' AND City = 'M√©xico D.F.';")
print("Translation: Show customers from Mexico City only")
print()

query4 = "SELECT * FROM Customers WHERE Country = 'Mexico' AND City = 'M√©xico D.F.';"
result4 = pd.read_sql_query(query4, conn)
print(result4.to_string(index=False))

Query: SELECT * FROM Customers WHERE Country = 'Mexico' AND City = 'M√©xico D.F.';
Translation: Show customers from Mexico City only

NameError: name 'pd' is not defined

### üîç Basic SQL: `ORDER BY` Clause

The `ORDER BY` clause sorts your final results:

In [ ]:
# ORDER BY examples
print("\nüîç BASIC SQL: ORDER BY CLAUSE")
print("=" * 35)

print("Query: SELECT CustomerName, City FROM Customers ORDER BY CustomerName;")
print("Translation: Show customers sorted alphabetically by name")
print()

query5 = "SELECT CustomerName, City FROM Customers ORDER BY CustomerName;"
result5 = pd.read_sql_query(query5, conn)
print(result5.to_string(index=False))

In [ ]:
# ORDER BY with descending sort
print("\nQuery: SELECT CustomerName, City FROM Customers ORDER BY CustomerName DESC;")
print("Translation: Show customers sorted in reverse alphabetical order")
print()

query6 = "SELECT CustomerName, City FROM Customers ORDER BY CustomerName DESC;"
result6 = pd.read_sql_query(query6, conn)
print(result6.to_string(index=False))

## 4. üß™ Hands-On Lab: Querying a Sample Database

Now let's practice with more realistic queries using our sample database.

In [14]:
# Hands-on lab exercises
print("üß™ HANDS-ON LAB: SQL QUERY PRACTICE")
print("=" * 40)

# Exercise 1: Get all products with prices
print("1. üìã Get all products with names and prices:")
query7 = "SELECT ProductName, Price FROM Products;"
result7 = pd.read_sql_query(query7, conn)
print(result7.to_string(index=False))
print()

üß™ HANDS-ON LAB: SQL QUERY PRACTICE
========================================
1. üìã Get all products with names and prices:

NameError: name 'pd' is not defined

In [ ]:
# Exercise 2: Filter by country
print("2. üåç Find all customers from Germany:")
query8 = "SELECT CustomerName, City FROM Customers WHERE Country = 'Germany';"
result8 = pd.read_sql_query(query8, conn)
print(result8.to_string(index=False))
print()

In [ ]:
# Exercise 3: Sort suppliers alphabetically
print("3. üî§ Get all suppliers sorted alphabetically:")
query9 = "SELECT SupplierName FROM Suppliers ORDER BY SupplierName;"
result9 = pd.read_sql_query(query9, conn)
print(result9.to_string(index=False))
print()

### üöÄ Bonus Challenges

Let's try some more advanced queries!

In [ ]:
# Bonus Challenge 1: Descending order
print("üöÄ BONUS CHALLENGE 1: Descending Order")
print("Get suppliers in reverse alphabetical order:")
query10 = "SELECT SupplierName FROM Suppliers ORDER BY SupplierName DESC;"
result10 = pd.read_sql_query(query10, conn)
print(result10.to_string(index=False))
print()

In [ ]:
# Bonus Challenge 2: Pattern matching with LIKE
print("üöÄ BONUS CHALLENGE 2: Pattern Matching")
print("Find products containing 'Chef' in name:")
query11 = "SELECT ProductName, Price FROM Products WHERE ProductName LIKE '%Chef%';"
result11 = pd.read_sql_query(query11, conn)
print(result11.to_string(index=False))
print()

print("üìù LIKE OPERATOR EXPLANATION:")
print("   - %Chef% means 'contains Chef anywhere'")
print("   - Chef% means 'starts with Chef'")
print("   - %Chef means 'ends with Chef'")

In [ ]:
# More advanced queries for practice
print("üéØ EXTRA PRACTICE QUERIES:")
print("=" * 30)

print("1. Products cheaper than $20:")
query12 = "SELECT ProductName, Price FROM Products WHERE Price < 20;"
result12 = pd.read_sql_query(query12, conn)
print(result12.to_string(index=False))
print()

print("2. Beverages category products:")
query13 = "SELECT ProductName, Price FROM Products WHERE Category = 'Beverages';"
result13 = pd.read_sql_query(query13, conn)
print(result13.to_string(index=False))
print()

print("3. Customers not from Germany:")
query14 = "SELECT CustomerName, Country FROM Customers WHERE Country != 'Germany';"
result14 = pd.read_sql_query(query14, conn)
print(result14.to_string(index=False))

In [ ]:
# Close the database connection
conn.close()
print("‚úÖ Database connection closed")

## 5. üìö Comprehensive SQL & Databases Summary

### üéØ What We Learned:

1.  **Database Fundamentals:** Why we need databases instead of flat files
2.  **Relational Concepts:** Tables, rows, columns, primary keys, foreign keys
3.  **Database Design:** How to structure data with relationships
4.  **SQL Basics:** `SELECT`, `FROM`, `WHERE`, `ORDER BY` clauses
5.  **Practical Skills:** Writing and executing SQL queries

### üîë Key Concepts:

- **Normalization:** Eliminating data redundancy through proper table design
- **Relationships:** Linking tables through primary and foreign keys
- **SQL Syntax:** The language for interacting with databases
- **Data Integrity:** Maintaining accurate and consistent data

### üí° Real-world Applications:

- **E-commerce:** Customer orders, product catalogs, inventory
- **Social Media:** User profiles, posts, comments, likes
- **Blogging:** Articles, authors, categories, tags
- **Business Systems:** Employees, departments, projects

### üöÄ Best Practices:

1.  **Use meaningful table and column names**
2.  **Always define primary keys**
3.  **Use foreign keys to enforce relationships**
4.  **Normalize data to avoid duplication**
5.  **Use `WHERE` clauses to filter data efficiently**
6.  **Test queries before using them in production**

### üìä SQL Clause Summary:

| Clause | Purpose | Example |
|:-------|:--------|:--------|
| **SELECT** | Choose columns to display | `SELECT name, age` |
| **FROM** | Specify table to query | `FROM users` |
| **WHERE** | Filter rows based on conditions | `WHERE age > 18` |
| **ORDER BY** | Sort results | `ORDER BY name DESC` |

### ‚úÖ Completion Checklist:

- [x] Understand the problems with flat file storage
- [x] Learn relational database concepts (tables, keys, relationships)
- [x] Design a simple database schema
- [x] Write basic SQL queries with `SELECT`, `FROM`
- [x] Use `WHERE` clause for filtering data
- [x] Use `ORDER BY` clause for sorting results
- [x] Practice with pattern matching using `LIKE`
- [x] Complete hands-on lab exercises

### üîÆ Next Steps:

1.  **Learn advanced SQL:** `JOIN`, `GROUP BY`, `HAVING`, aggregate functions
2.  **Explore database management systems:** MySQL, PostgreSQL, SQL Server
3.  **Learn about indexes** for performance optimization
4.  **Study database normalization** forms
5.  **Practice with real-world datasets**
6.  **Learn about ORMs** (Object-Relational Mappers) for Python

This foundation in SQL and relational databases will enable you to build robust, scalable applications that can handle complex data relationships efficiently! üóÑÔ∏è